.iconin {
  margin-top: 15px;
}
.inputtwo {
  margin-right: 15px;
}
.button {
  height: 40px;
  margin-top: 11px;
}
.navhea {
  margin-left: 225px;
  font-size: 15px;
  margin-top: 7px;
  font-family: gilroy-bold;
}

.wrapper > div {
  padding: 1em;
}

.wrapper {
  display: grid;
  grid-template-columns: 1fr 13% 2fr;
  grid-gap: 1em;
}

.butn {
  background-color: #ff4f74;
  color: white;
  border: none;
  font-size: 13px;
  font-weight: bold;
  padding: 4px 30px;
  border-radius: 20px;
  margin-right: 15px;
  font-family: gilroy-bold;
  cursor: pointer;
  margin-left: -2px;
}
.btn {
  height: 40px;
  margin-top: 11px;
  color: white;
  background-color: #ff4f74;
  border: none;
}
.btn:hover {
  color: none !important;
}

.headingg {
  font-family: gilroy-bold;
  margin-left: 3px;
}

.imgzz {
  width: 80px;
  margin-top: -17px;
  margin-left: -43px;
}
.heading6 {
  margin-left: -20px;
  font-family: gilroy-bold;
  margin-bottom: 21px;
}
.btnblue {
  margin-left: 12%;
  background-color: #25aace;
  color: white;
  border: none;
  font-size: 16px;
  font-weight: bold;
  padding: 4px 30px;
  border-radius: 20px;
  margin-right: 15px;
  font-family: gilroy-bold;
  margin-bottom: 8px;
}

.btnbluetwo {
  margin-left: 1%;
  background-color: transparent;
  color: #666666;
  border: none;
  font-size: 16px;
  font-weight: bold;
  padding: 4px 30px;
  border-radius: 20px;
  margin-right: 15px;
  font-family: gilroy-bold;
  margin-bottom: 8px;
}

.headingh1 {
  font-size: 45px;
  font-weight: 800;
  color: black;
  font-family: gilroy-bold;
  margin-left: -23%;
  margin-top: 20%;
}
.spanish {
  font-size: 20px;
  margin-left: -23%;
  margin-top: 20%;
  line-height: 0px;
}
.lolipop {
  margin-left: -23%;
}
.lastspan {
  margin-left: 5px;
  font-size: 20px;
  line-height: 0px;
}
.twoicon {
  margin-left: -35%;
}

.double {
  padding-top: 100px;
  padding-left: 120px;
}

.butnlast {
  background-color: #25aace;
  color: white;
  border: none;
  font-size: 13px;
  font-weight: bold;
  padding: 4px 30px;
  border-radius: 20px;
  margin-right: 15px;
  font-family: gilroy-bold;
  cursor: pointer;
  margin-left: -2px;
}
