@media (min-width: 990px) and (max-width: 1300px) {
  .profile-row {
    width: 100%;
  }
}

.prefered {
  margin-left: 115px;
  font-weight: 900;
  margin-top: 50px !important;
}

.muwao {
  margin-left: 115px;
  font-weight: 900;
  margin-top: 4px;
}

.small {
  width: 13%;
}

.headingFiveProfile {
  font-size: 25px;
  font-family: gilroy;
  margin-left: 131px;
  margin-top: -8px;
  margin-left: 131px;
}

.first {
    margin-left: 71px;
}