@media (min-width: 990px) and (max-width: 1300px) {
  .profile-row {
    width: 100%;
  }
}

.profileP {
  margin-left: 130px;
  font-weight: 900;
  margin-top: 15px !important;
}

.headingFiveProfile {
  font-size: 25px;
  font-family: gilroy;
  margin-left: 130px;
  margin-top: -8px;
}
