.servicePricing {
  font-size: 25px;
  font-family: gilroy-bold;
  font-weight: 900;
  margin-left: 20px;
}

.complrLay {
  border-radius: 22px;
  border: 1.5px solid #eaeaea;
  width: 28rem;
  border-width: 2px;
}

.shape {
  border-style: solid;
  border-color: #f4f4f4;
  border-width: 2px;
}

.allTextDesign {
  font-size: 18px;
  font-family: gilroy-bold;
  margin-left: 20px;
}

.exapmle {
  font-size: 18px;
  font-family: gilroy-bold;
  margin-left: 35px;
}

.www {
  margin-left: 34px !important;
}

.buttonSaveEditServicePricing {
  background-color: #ff4f74;
  color: white;
  border: none;
  font-size: 13px;
  font-weight: bold;
  padding: 4px 30px;
  border-radius: 20px;
  font-family: gilroy-bold;
  cursor: pointer;
  margin-left: 15px;
  margin-top: 10px;
}

.buttonDiscardEditServicePricing {
  background-color: white;
  font-weight: bold;
  border-radius: 20px;
  padding: 3px 20px;
  border: 2px solid #eaeaea;
  font-family: gilroy;
  font-size: 13px;
  margin-left: 33px;

  //   margin-top: 120px;
}
