.editEx {
  font-size: 25px;
  font-weight: 900;
  font-family: gilroy-bold;
}

.secondTextEE {
  font-size: 12px;
  font-weight: 900;
  font-family: gilroy-bold;
  margin-left: -15px;
}

.cc {
  font-size: 12px;
  font-weight: 900;
  font-family: gilroy-bold;
  margin-left: -15px;
}

.butnCCDiscard {
  background-color: white;
  font-weight: bold;
  border-radius: 20px;
  padding: 3px 20px;
  border: 2px solid #eaeaea;
  font-family: gilroy;
  font-size: 13px;
  margin-left: 0px !important;
}


.butnSaveETB {
  background-color: #ff4f74;
  color: white;
  border: none;
  font-size: 13px;
  font-weight: bold;
  padding: 4px 30px;
  border-radius: 20px;
  font-family: gilroy-bold;
  cursor: pointer;
}


.startDivEE {
  width: 40rem;
  height: 28rem;
  border-radius: 32px;
  border: 1.5px solid #eaeaea;
  height: 45rem;
}

.shapeEE {
  border-style: solid;
  border-color: #f4f4f4;
  border-width: 2px;
  margin-left: -15px;
}

.chooseEE {
  width: 14rem;
  border-style: solid;
  border-color: #f4f4f4;
  border-width: 2px;
}

.fluencyEE {
  width: 14rem;
  margin-left: 12px;
  border-style: solid;
  border-color: #f4f4f4;
  border-width: 2px;
  margin-left: 55px;
}

.testMailEE {
  font-size: 12px;
  font-weight: 900;
  font-family: gilroy-bold;
  margin-left: -15px;
}
.testMailEEED {
  font-size: 12px;
  font-weight: 900;
  font-family: gilroy-bold;
  margin-left: 55px !important;
}
.testMailEEYY {
  font-size: 12px;
  font-weight: 900;
  font-family: gilroy-bold;
  margin-left: -15px;
}

.testMailEET {
  font-size: 12px;
  font-weight: 900;
  font-family: gilroy-bold;
  margin-left: -15px;
}

.testMailEEP {
  font-size: 12px;
  font-weight: 500;
  font-family: gilroy;
  margin-left: -15px;
  width: 6rem;
  border-style: solid;
  border-color: #f4f4f4;
  border-width: 2px;
}

.testMailEEPT {
  font-size: 12px;
  font-weight: 500;
  font-family: gilroy;
  margin-left: -15px;
  width: 7rem;
  border-style: solid;
  border-color: #f4f4f4;
  border-width: 2px;
}

.testMailEEPTwo {
  font-size: 12px;
  font-weight: 500;
  font-family: gilroy;
  margin-left: 17px;
  width: 6rem;
  border-style: solid;
  border-color: #f4f4f4;
  border-width: 2px;
}

.vl {
  border-left: 3px solid #f4f4f4;
  height: 70px;
  margin-left: 20px;
  margin-top: -27px;
}

.testMailES {
  font-size: 10px;
}
