.editSkills {
  font-size: 25px;
  font-weight: 900;
  font-family: gilroy-bold;
  margin-left: 20px;
}

.fluencyzz {
  width: 102%;
  margin-left: 6px;
}
.cardSubZZ {
  font-size: 15px;
  margin-left: 20px;
  font-family: gilroy-bold;
}

.buttonSaveasEditInterest {
  background-color: #f7f8fb;
  font-weight: 900;
  border-radius: 20px;
  padding: 3px 20px;
  border: 1px solid #eaeaea;
  font-family: gilroy;
  font-size: 13px;
  margin-left: 280px;
  //   color: #f7f8fb;

  //   margin-top: 120px;
}

.buttonSaveEditInterest {
  background-color: #ff4f74;
  color: white;
  border: none;
  font-size: 13px;
  font-weight: bold;
  padding: 4px 30px;
  border-radius: 20px;
  font-family: gilroy-bold;
  cursor: pointer;
  margin-left: 15px;
  margin-top: 10px;
  //   font-weight: 600;
}

.editDesign {
  border-radius: 11px;
  border: 1.5px solid #eaeaea;
  width: 40rem;
}

.graphicDesignerSkillX {
  background-color: #f7f8fb;
  //   font-weight: 600;
  border-radius: 10px;
  padding: 2px 13px;
  border: 1px solid #eaeaea;
  font-family: gilroy;
  font-size: 13px;
  margin-left: 15px;
}
